:root {
    --cell-size: 50px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height: 100vh;
}
h1, h3 {
    margin: 2px;
}
#board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

}
.black {
    color: #090909;
}
.white {
    color: #efefef;
}
.empty, .cell , .caption {
    width: var(--cell-size);
    height: var(--cell-size);
    margin: 0;
    box-sizing: content-box;
    user-select: none;
}

.cell , .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: default;
}

.cell {
    font-weight: 900;
}

.row:nth-child(even) > p.cell:nth-child(odd) {
    background-color: #2b4d70;
}

.row:nth-child(even) > p.cell:nth-child(even) {
    background-color: #adbdcd;
}

.row:nth-child(odd) > p.cell:nth-child(odd) {
    background-color: #adbdcd;
}

.row:nth-child(odd) > p.cell:nth-child(even) {
    background-color: #2b4d70;
}
